.projects {
    position: relative;
    color: white;
    padding: 3%;
}

.projectDescription {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.imageContainer {
    position: relative;
    height: 100vh;
    width: 40%;
}

.imageContainer img {
    object-fit: contain;
}

.title {
    color: #eb801e;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 1;
    text-transform: uppercase;
    display: block;
    /* border-bottom: 3px solid #eb801e; */
}

.column {
    display: flex;
    height: 100%;
    width: 55%;
    font-size: 19px;
    line-height: 1.5;
    display: block;
    padding: 0 10px;
}

.projectList {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 200px;
}

.projectEl {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: 3vw;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: flex-end;
}
.projectEl h2 {
    margin: 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: default;
}

.pContainer {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
}

.pcontainer + :not(.title) {
    text-align: justify;
}

.imgContainer {
    width: 30%;
    display: block;
}

.imgContent {
    position: static !important;
    width: 70% !important;
}

.commentContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.comment {
    padding: 12px 0;
    display: block;
    width: 100%;
    text-align: center;
    font-style: italic;
    color: #ccc;
}

.contentBox {
    text-align: justify;
}

@media (min-width: 740px) and (max-width: 1023px) {
    .imgContent {
        width: 100%;
    }

    .pContainer {
        height: 80vh;
    }

    .comment {
        transform: translateY(-250%);
    }
}

@media (max-width: 739px) {
    .projects:nth-child(1) {
        margin-top: 50px;
    }

    .projectDescription {
        flex-wrap: wrap;
    }

    .imageContainer {
        width: 100%;
    }

    .imageContainer {
        width: 100%;
        height: 70vh;
    }

    .column {
        width: 100%;
    }

    .pContainer {
        height: 70vh;
    }

    .imgContent {
        width: 90%;
    }

    .comment {
        transform: translateY(-10%);
    }
}
