.main {
    position: sticky;
    bottom: 0;
    right: 0;
    background: transparent;
    z-index: 100000;
}

.container {
    overflow-y: auto;
    height: calc(100% - 120px);
    overflow-x: hidden;
}

.chatbotButton {
    width: 60px;
    height: 60px;
    background-color: #724ae8;
    color: white;
    position: absolute;
    bottom: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chatbotButton:hover {
    background-color: #8f71e7;
    cursor: pointer;
}

.chatbotIcon {
    background-color: transparent;
    transform: scale(1.5);
}

.open {
    display: block !important;
}

.close {
    display: none !important;
}

.chatBox {
    position: absolute;
    background-color: white;
    width: 450px;
    right: 40px;
    bottom: 110px;
    height: calc(100vh - 140px);
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.chatBox header {
    width: 100%;
    background-color: #724ae8;
    color: white;
    padding: 16px;
    display: flex;
    flex-wrap: nowrap;
}

.chatBox footer {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
    flex-wrap: nowrap;
}

.chatBox footer textarea {
    height: 55px;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.sendButton {
    align-self: flex-end;
    height: 55px;
    width: 50px;
    display: flex;
    align-items: center;
    color: #724ae8;
    justify-content: center;
    cursor: pointer;
}

.chatBox .closeButton {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sendIcon,
.closeIcon {
    transform: scale(1.5);
}

.closeButton:hover {
    opacity: 0.8;
    cursor: pointer;
}

.chatBox header h2 {
    flex: 9;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.box li {
    width: 100%;
    display: flex;
    position: relative;
}

.box li div {
    max-width: 80%;
    padding: 16px;
}

li.respone {
    justify-content: flex-start;
}

li.question {
    justify-content: flex-end;
}

li.response div {
    display: flex;
    gap: 8px;
}

.chatbotAvatar {
    width: 15% !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 0 0 0 !important;
}

li.response div .chatbotIcon {
    background-color: #724ae8;
    color: white;
    padding: 8px;
    border-radius: 10px;
}

li.response div p.content {
    background-color: #f2f2f2;
    color: black;
    padding: 8px;
    border-radius: 0px 10px 10px 10px;
    width: 85%;
    min-height: 48px;
}

li.response div p.content a {
    margin-left: 8px;
    color: #724ae8;
    display: inline-block;
    text-decoration: underline;
}

li.question div p.content {
    background-color: #724ae8;
    color: white;
    padding: 8px;
    border-radius: 10px 10px 0px 10px;
}

.content p {
    margin-bottom: 8px;
}

.overlay.open {
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255);
    opacity: 0.7;
    z-index: 5;
}

.overlay button {
    border-radius: 8px;
    border: 1px solid #724ae8;
    padding: 16px;
}

.overlay button a {
    color: #724ae8;
    font-weight: 700;
    padding: 16px;
}
