.header {
    width: 100%;
    height: 80px;
    font-size: 20px;
    color: white;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    transition: all 0.5s ease;
}

.subnav,
.navigation {
    background-color: #690705;
    border-radius: 20px;
    box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.4);
}

.navigation .subnav > li,
.navigation > li {
    display: inline-block;
    padding: 8px 16px;
    position: relative;
}

.navigation .subnav > li:hover,
.navigation li:hover {
    color: rgb(204, 204, 204);
    cursor: pointer;
}

/* .navigation .subnav li {
    display: block;
    cursor: pointer;
} */

.navigation .subnav {
    width: 480px;
    position: absolute;
    z-index: 100;
    display: none;
    top: calc(100% + 1px);
    left: -8px;
}

.navigation li:hover .subnav {
    display: block;
}

.actionsIcon {
    display: none !important;
    padding: 24px;
}

.accountActions,
.actionsIcon,
.actions {
    font-size: 16px;
    color: white;
    line-height: 1.5;
    display: flex;
    position: absolute;
    right: 0;
    z-index: 11;
}

.actionsIcon,
.accountActions > li,
.actions > li {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}

.accountActions > li:hover,
.actionsIcon:hover,
.actions > li:hover {
    opacity: 0.8;
}

.actions > li:nth-child(1) {
    border-right: 1px solid white;
}

.accountContainer,
.actionsContainer {
    height: 80px;
    display: flex;
    align-items: center;
}

.accountContainer {
    justify-content: flex-end;
}

.accountContainer .accountIcon {
    margin-right: 10px;
}

.account {
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    height: 80px;
    z-index: 999;
}

.accountActions {
    display: none;
}

.account:hover + .accountActions {
    display: block !important;
    top: 60px;
}

.accountActions:hover {
    display: block;
    top: 60px;
}

@media (max-width: 739px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 1023px) {
    .actions {
        display: none;
    }

    .actions:hover {
        display: block;
        top: 60px;
    }

    .actionsIcon:hover + .actions {
        display: block !important;
        top: 60px;
    }

    .actionsIcon {
        display: block !important;
        z-index: 999;
    }

    .actions > li {
        display: block;
        border-right: 0px solid white !important;
    }
}
