.gradientTextContainer {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    color: rgb(211, 211, 211);
    /* width: 50%; */
    padding: 24px;
}

.gradientTextBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.gradientTextBox p {
    /* font-size: 3.5vw; */
    margin: 0px;
    margin-right: 1.5vw;
    font-weight: 700;
}

.gradientTextBox span {
    opacity: 0.2;
}

.date {
    float: right;
}

@media (max-width: 739px) {
    .gradientTextContainer {
        width: 100% !important;
        font-size: 30px !important;
        transform: translateY(0) !important;
    }
}
