.floatingContainer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-top: 100px;
}
.floatingContainer .title {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
}
.floatingContainer .title h1 {
    font-weight: 400;
    color: white;
    margin: 0px;
    text-align: center;
}
.floatingContainer .title h2 {
    color: white;
    margin: 0px;
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
}
.floatingContainer .plane {
    width: 100%;
    height: 100%;
    position: absolute;
}
.floatingContainer .plane img {
    position: absolute;
}
.floatingContainer .plane:nth-of-type(1) {
    filter: brightness(0.7);
}
.floatingContainer .plane:nth-of-type(1) img:nth-of-type(1) {
    left: 80%;
    top: 65%;
}
.floatingContainer .plane:nth-of-type(1) img:nth-of-type(2) {
    left: 5%;
    top: 65%;
}
.floatingContainer .plane:nth-of-type(1) img:nth-of-type(3) {
    left: 30%;
    top: 0%;
}
.floatingContainer .plane:nth-of-type(2) {
    filter: brightness(0.6);
}
.floatingContainer .plane:nth-of-type(2) img:nth-of-type(1) {
    left: 1%;
    top: 10%;
}
.floatingContainer .plane:nth-of-type(2) img:nth-of-type(2) {
    left: 80%;
    top: 5%;
}
.floatingContainer .plane:nth-of-type(2) img:nth-of-type(3) {
    left: 60%;
    top: 60%;
}
.floatingContainer .plane:nth-of-type(3) {
    filter: brightness(0.5);
}
.floatingContainer .plane:nth-of-type(3) img:nth-of-type(1) {
    left: 55%;
    top: 10%;
}
.floatingContainer .plane:nth-of-type(3) img:nth-of-type(2) {
    left: 33%;
    top: 60%;
}

.directButton {
    position: absolute;
    left: 50%;
    width: 250px;
    transform: translateX(-50%);
    background-color: transparent;
    padding: 12px;
    margin-top: 12px;
    border: 1px white solid;
    border-radius: 10px;
}

.directButton a {
    color: white;
}

@media (max-width: 1023px) and (min-width: 740px) {
    .floatingContainer .plane:nth-of-type(1) img:nth-of-type(1) {
        left: 53%;
        top: 65%;
    }
    .floatingContainer .plane:nth-of-type(1) img:nth-of-type(2) {
        left: 5%;
        top: 55%;
    }
    .floatingContainer .plane:nth-of-type(1) img:nth-of-type(3) {
        left: 15%;
        top: 30%;
    }

    .floatingContainer .plane:nth-of-type(2) img:nth-of-type(1) {
        left: 0%;
        top: 10%;
    }
    .floatingContainer .plane:nth-of-type(2) img:nth-of-type(2) {
        left: 65%;
        top: 30%;
    }
    .floatingContainer .plane:nth-of-type(2) img:nth-of-type(3) {
        left: 60%;
        top: 50%;
    }

    .floatingContainer .plane:nth-of-type(3) img:nth-of-type(1) {
        left: 55%;
        top: 10%;
    }
    .floatingContainer .plane:nth-of-type(3) img:nth-of-type(2) {
        left: 8%;
        top: 80%;
    }

    .floatingContainer .title h1 {
        font-size: 34px;
    }

    .floatingContainer {
        margin-top: 40px;
    }
}

@media (max-width: 739px) {
    .floatingContainer .plane,
    .floatingContainer .plane img {
        position: static;
        filter: brightness(70%);
    }

    .floatingContainer .plane img {
        width: 100%;
        padding: 0 12px;
    }

    .floatingContainer {
        height: auto;
        gap: 12px;
        margin-top: -40vh;
    }
}
