.background {
    z-index: -1;
    background-image: url('/images/TrongDong.png');
    background-position: center;
}

.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    display: flex;
    width: 70%;
    flex-wrap: wrap;
}

.column80 {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}

.sideBarButton {
    position: absolute;
    top: 0;
    left: 0;
    padding: 24px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    z-index: 11;
    font-size: 24px;
}
