.container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.description {
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: 1;
}
