.container {
    background-color: white;
    width: 1000px;
    height: 500px;
    display: flex;
    transition: all 0.2s ease;
    font-family: Avo, sans-serif;
    border-radius: 10px;
    overflow: hidden;
}

.leftSide {
    width: 40%;
    background-image: url(./MenuHover1.jpg);
    height: 100%;
    background-position: center;
    background-size: cover;
}

.rightSide {
    width: 60%;
    position: relative;
    padding: 24px;
}

.form2 {
    position: absolute;
    top: 24px;
    left: 24px;
    right: 24px;
}

.form2 > p > span {
    font-weight: 600;
    color: #354750;
    text-decoration: underline;
    cursor: pointer;
}

.rightLine > input,
.rightLine > span,
.leftLine > input,
.leftLine > span,
.line {
    width: 100%;
}

.rightLine,
.leftLine {
    width: 50%;
    padding: 0 10px;
}

.rightLine {
    width: 50%;
    padding: 0 10px;
}

.line {
    width: 100%;
    display: flex;
    margin: 26px 0;
}

.line input {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: solid 2px #ccc;
}

.line input:focus {
    border: solid 2px #354750;
    outline: #354750;
}

.line > input + input {
    margin-left: 50px;
}

.heading {
    margin-left: 10px;
}
.verify {
    padding: 8px 16px;
    border: none;
    background-color: #354750;
    color: white;
    border-radius: 8px;
    width: 100%;
}

.verify:hover {
    opacity: 0.8;
    cursor: pointer;
}

.backButton {
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px 24px;
    font-size: 24px;
    cursor: pointer;
}

.backIcon {
    height: 24px;
    margin-right: 8px;
    color: white;
}

.backButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 739px) {
    .container {
        width: 80%;
        flex-wrap: wrap;
        height: 80%;
        overflow-y: auto;
    }

    .leftSide {
        height: 30%;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .rightSide {
        width: 100%;
        height: 70%;
    }
    .line > input + input {
        margin-left: 20px !important;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .container {
        width: 80%;
        flex-wrap: wrap;
        height: 80%;
    }

    .leftSide {
        height: 40%;
        width: 100%;
        border-bottom: 1px solid #ccc;
    }

    .rightSide {
        width: 100%;
        height: 60%;
    }

    .line > input + input {
        margin-left: 20px !important;
    }
}
