.main {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding-bottom: 200vh;
    margin-bottom: 100px;
}

.title {
    text-align: center;
    height: 50px;
    width: 100%;
    margin-top: 100px;
}

.subtitle {
    text-align: center;
    height: 50px;
    width: 100%;
    margin-bottom: 24px;
    color: #ccc;
    margin-bottom: 24px;
}

.main img {
    width: 30vw;
    height: auto;
    position: absolute;
    display: none;
    transform: translateX(-50%) translateY(-50%);
}
